<div
  class="container product-container mt-5"
  *ngIf="product$ | async as product"
>
  <div class="row">
    <div class="col-md-6">
      <div class="product-img text-center mb-3">
        <img
          [src]="'assets/images/' + product.imageName + '.jpg'"
          alt=""
          [ngStyle]="{ 'max-width': '100%', height: 'auto' }"
        />
      </div>
    </div>
    <div class="col-md-6 product-details text-center">
      <h2>{{ product.name }}</h2>

      <p class="product-description">Description:{{ product.description }}</p>
      <p class="product-description">Color:{{ product.Color }}</p>
      <p class="product-description">Ram Memory:{{ product.ramMemory }}GB</p>
      <div class="mt-4 mb-4">
        <div class="product-meta mb-3"></div>
        <div class="product-price mb-3">
          <h5><strong>Price:</strong> ${{ product.price }}</h5>
          <h5 *ngIf="product.old_price != 0">
            <strong>Old Price:</strong>
            <s>${{ product.old_price }}</s>
          </h5>
        </div>
      </div>
      <div
        class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
      >
        <input
          type="button"
          id="addCart"
          value="+222 11 4444"
          class="button btn btn-primary"
        />
      </div>
    </div>
  </div>
</div>
<div *ngIf="!(product$ | async)" class="text-center mt-5">
  <p>Proizvod nije pronađen.</p>
</div>
