<div class="jumbotron">
  <h1 class="display-4">O nama</h1>
  <p class="lead">Mladenovac</p>
  <p class="lead">333 222 3333</p>
  <p class="lead">+222 11 4444</p>
  <hr class="my-4" />
  <p>Nalazimo se na adresi u Beogradu. Dolazak do nas može biti jednostavan:</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Ako koristite javni prevoz, možete uzeti autobus linije 33 ili 48 i izaći
      na stanici Vlada Divljan.
    </li>
    <li class="list-group-item">
      Ako dolazite automobilom, možete slijediti upute sa GPS-a ili Google
      Maps-a.
    </li>
    <li class="list-group-item">
      Za dodatne informacije, slobodno nas kontaktirajte.
    </li>
  </ul>
</div>
