<div
  class="about-us-container"
  style="
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px;
  "
>
  <h2 style="text-align: center; color: #343a40">
    Dobrodošli na naš sajt za prodaju polovnih telefona
  </h2>
  <p style="text-align: justify; color: #495057">
    Naša platforma je posvećena pružanju najboljeg iskustva prilikom kupovine
    polovnih telefona. Razumemo koliko je važno imati pouzdan i kvalitetan
    telefon, bez obzira na to da li je nov ili polovan. Zato pažljivo biramo
    svaki uređaj u našoj ponudi kako bismo vam omogućili da kupite telefon koji
    zadovoljava vaše potrebe i budžet.
  </p>
  <p style="text-align: justify; color: #495057">
    Naša misija je da obezbedimo kvalitetne polovnje telefone po pristupačnim
    cenama. Svi naši telefoni prolaze rigorozne testove kvaliteta kako bi se
    osiguralo da su u potpunosti funkcionalni i pouzdani. Svaki uređaj dolazi sa
    garancijom, što vam daje dodatnu sigurnost pri kupovini.
  </p>
  <p style="text-align: justify; color: #495057">
    Pored toga, nudimo i širok spektar dodatne opreme za vaše telefone,
    uključujući zaštitne futrole, punjače i slušalice. Naša korisnička podrška
    je uvek spremna da vam pomogne sa bilo kakvim pitanjima ili nedoumicama koje
    imate.
  </p>
  <p style="text-align: justify; color: #495057">
    Hvala vam što ste posetili naš sajt. Verujemo da ćete pronaći savršen
    telefon za sebe i da ćete biti zadovoljni našom uslugom. Kupovina polovnog
    telefona nikada nije bila lakša i sigurnija!
  </p>
</div>
